* {
  font-family: "Aclonica", sans-serif;
  font-family: "Sono", monospace;
}
body {
  margin: 0;
  background-color: #241f00;
  background-image: url("https://www.transparenttextures.com/patterns/elegant-grid.png");
}

header div .btn {
  color: white;
}

header {
  padding: 20px 40px;
  background-color: #1616166e;
}
header > div {
  border-bottom: 2px white solid;
  display: flex;
}
.subHeading {
  color: white;
  flex: 2;
}

.hero {
  background-image: url(./images/background.png);
  text-align: center;
  height: 440px;
  display: flex;

  justify-content: center;
  align-items: center;
}
.hero > div {
  margin: 15px;
  padding: 15px;
  border: 2px solid rgb(241, 205, 0);
  flex-basis: 950px;
  height: 320px;
  background-color: #25252568;
}
.title {
  font-family: "Lugrasimo", cursive;
  font-size: 5rem;
  background-color: rgb(241, 205, 0);
  background-image: linear-gradient(
    180deg,
    #ffcfa7,
    rgba(196, 150, 0, 0.986),
    #913a01
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.hero > div p {
  font-size: 16px;
  color: white;
}
.hero > div p > span {
  text-transform: uppercase;
  font-style: italic;
  font-size: 20px;
  color: rgb(255 193 7);
}

.enquiries {
  margin: 5px;
  padding: 10px;
  height: 284px;
  display: grid;
  text-align: center;
}
.enquiries > h2 {
  color: white;
}
.enquiries > form {
  margin: 10px;
  padding: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.enquiries > form > button {
  width: 64px;
  position: relative;
  left: 884px;
  top: -26px;
}
.enquiries > form > button > svg {
  color: rgb(255 193 7);
  background-color: #241f00;
  border: 2px solid rgb(255 193 7);
  border-radius: 25%;
}
.enquiries > form > button :hover {
  color: rgb(255, 255, 255);
  background-color: rgb(255 193 7);
  border-color: rgb(255 193 7);
}
div.enquiries > form > p {
  color: rgb(0, 224, 15);
  position: relative;
  top: -32%;
}
div.enquiries > form > p > svg {
  position: relative;
  left: 10px;
  top: 6px;
}

footer {
  background-color: #1616166e;
  text-align: center;
  height: 140px;
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 14px;
}
footer p {
  margin: 0;
}
.externalLinks {
  display: grid;
  grid-template-columns: repeat(3, minmax(80px, 200px));
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}
.copyright {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.internalLinks {
  display: grid;
  grid-template-columns: repeat(3, minmax(80px, 200px));
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: end;
}
.externalLinks > button:nth-child(1) {
  grid-area: 1/1/2/2;
}
.externalLinks > p:nth-child(2) {
  grid-area: 2/1/3/2;
  align-self: start;
}
.externalLinks > button:nth-child(3) {
  grid-area: 1/2/2/3;
}
.externalLinks > p:nth-child(4) {
  grid-area: 2/2/3/3;
  align-self: start;
}
.externalLinks > button:nth-child(5) {
  grid-area: 1/3/2/4;
}
.externalLinks > p:nth-child(6) {
  grid-area: 2/3/3/4;
  align-self: start;
}
.externalLinks > button {
  color: white;
  width: 24px;
}

.internalLinks > svg:nth-child(1) {
  grid-area: 1/1/2/2;
}
.internalLinks > p:nth-child(2) {
  grid-area: 2/1/3/2;
  align-self: start;
}
.internalLinks > svg:nth-child(3) {
  grid-area: 1/2/2/3;
}
.internalLinks > p:nth-child(4) {
  grid-area: 2/2/3/3;
  align-self: start;
}
.internalLinks > svg:nth-child(5) {
  grid-area: 1/3/2/4;
}
.internalLinks > p:nth-child(6) {
  grid-area: 2/3/3/4;
  align-self: start;
}
.internalLinks p {
  line-height: 24px;
}
